   <div class="row">
    <div class="col-sm-4">
    <table class="table table-dark">
    
  <thead>
    <tr>
     <th colspan="3"><h4 class="text-center">Blood Sugar Target Range</h4></th>
    </tr>
    <tr>
     
       <th scope="col">Lower Limit mg/dL</th>
       <th scope="col">Upper Limit mg/dL</th>
       <th scope="col">Target-Value mg/dL</th>
      
      
    </tr>
  </thead>

  <tbody>
    <tr>
      
      <td><%= diabetes_setting.bs_min %></td>
      <td><%= diabetes_setting.bs_max %></td>
      <td> <%= diabetes_setting.bs_target %></td>
    </tr>
    
    </table>
    </div>

        <div class="col-sm-4">
    <table class="table table-dark">
    
  <thead>
    <tr>
     <th colspan="2"><h4 class="text-center">Correction Factor</h4></th>
    </tr>
    <tr>
     
       <th scope="col">Insulin U</th>
       <th scope="col">Bloodsugar mg/dL</th>
       
    </tr>
  </thead>

  <tbody>
    <tr>
      
      <td><%= diabetes_setting.correction_insulin %></td>
      <td><%= diabetes_setting.correction_number %></td>
      
    </tr>
    
    </table>
    </div>
  </div>