   <div class="row">
    <div class="col-sm-3">
    <table class="table table-dark">
    <h4 class="text-center">Night</h4>
  <thead>
    <tr>
       <th scope="col">Time</th>
       <th scope="col">BU Factor</th>
    </tr>
  </thead>
  <% bs = bu_factor.attributes.except("id") %>
  <% i = 0 %>
  <% bs.each do |key, value|%> 
    <% if (i < 6) %>
      <tr><td><%= "#{i}h - #{i+1}h" %></td>
      <td> <%= "#{value}"%></td>
      </tr>
      <% i+= 1 %>
    <% elsif i == 6 %>
    </table>
    </div>
    <div class="col-sm-3">
      <table class="table table-dark">
      <h4 class="text-center">Morning</h4>
        <thead>
        <tr>
        <th scope="col">Time</th>
       <th scope="col">BU Factor</th>
        </tr>
    </thead>
    <tbody>
      <tr><td><%= "#{i}h - #{i+1}h" %></td>
      <td> <%= "#{value}"%></td>
      </tr>
    <%i +=1%>
    <% elsif i > 6 && i<12 %>
      <tr>
      <td><%= "#{i}h - #{i+1}h" %></td>
      <td> <%= "#{value}"%> </td>
      </tr>
      <% i+= 1 %>
      <% elsif i == 12%>
      </tbody>
        </table>
        </div>
        <div class="col-sm-3">
        <table class="table table-dark">
        <h4 class="text-center">Noon</h4>
      <thead>
        <tr>
          <th scope="col">Time</th>
          <th scope="col">BU Factor</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= "#{i}h - #{i+1}h" %></td>
        <td><%= "#{value}"%></td>
      </tr>
      <%i +=1%>
      <%elsif i>12 && i<18%>
      <tr>
        <td><%= "#{i}h - #{i+1}h" %></td>
        <td><%= "#{value}"%></td>
      </tr>
      <% i+= 1 %>
      <%elsif i==18%>
        </tbody>
        </table>
       </div>
      <div class="col-sm-3">
      <table class="table table-dark">
      <h4 class="text-center">Evening</h4>
      <thead>
      <tr>
        <th scope="col">Time</th>
        <th scope="col">BU Factor</th>
      </tr>
      </thead>
      <tbody>
      <tr>
      <td><%= "#{i}h - #{i+1}h" %></td>
      <td><%= "#{value}"%></td>
      </tr>
      <%i +=1%>
       <%elsif i>18 && i<24%>
      <tr>
      <td><%= "#{i}h - #{i+1}h" %></td>
      <td><%= "#{value}"%></td>
      </tr>
      <% i+= 1 %>
    <% end %>
  <%end%>
  </tbody>
  </table>
  </div>
</div>  


   