<header>
      <nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse fixed-top">
      
      <a class="navbar-brand" href="#">My Diabetes Diary</a>

      
        <ul class="navbar-nav navbar-right">
          <li class="nav-item">
            <%= link_to "Home",   root_path, :class => "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Help",   help_path, :class => "nav-link"%>
          </li>
          <li class="nav-item">
            <%= link_to "About",  about_path, :class => "nav-link"  %>
          </li>
          <li class="nav-item">
            <%= link_to "Bolus Rechner",  bolus_path, :class => "nav-link" %>
          </li>
          <% if logged_in? %>
                <li class="nav-item"><%= link_to "Users", users_path, :class => "nav-link" %></li>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Account <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                <li class="nav-item"><%= link_to "Profile", current_user, :class => "nav-link" %></li>
                <li class="nav-item"><%= link_to "Settings", edit_user_path(current_user), :class => "nav-link" %></li>
                <li class="divider"></li>
                <li class="nav-item">
                <%= link_to "Log out", logout_path, method: :delete, :class => "nav-link" %>
                </li>
                </ul>
                </li>
          <% else %>
                <li class="nav-item"><%= link_to "Log in", login_path, :class => "nav-link" %></li>
          <% end %>
        </ul>
      
     </nav>
    </header>