<%# application.html.erb is the basic html for all other html on the site%>
<!DOCTYPE html>
<html>
  <head>
    <title><%=full_title(yield(:title))%></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%#This code is responsible for inserting the contents of each page into the layout%>
    <%= yield %>
  </body>
</html>
